[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "https://api.zigma.pro/:splat"
  status = 200

[context.production.environment]
  VITE_API_BASE_URL = "https://api.zigma.pro"

[context.deploy-preview.environment]
  VITE_API_BASE_URL = "https://api.zigma.pro"
